<% if(feed.entries().length > 0){ %>
<h1 class="entries-title"><%= feed.get('title') %> - (<%= feed.entries().length %>)</h1>
<div class="title-background"></div>
  <% feed.entries().forEach(function(entry){ %>
    <div class="entry col-xs-11" id="<%= entry.escape("id") %>">
     <h2> <a href="<%= entry.escape('link') %>"><%= entry.escape('title') %></a> </h2>
     Published On: <div class="publishedDate"><%= new Date(entry.escape('published_date')) %></div>
     <div class="content"><%= entry.get('content') %></div>
     <button class="delete-entry btn btn-default" data-id="<%= entry.escape("id") %>">Read?</button>
    </div>
  <% }) %>
  <h1 class="col-xs-10"> and that's all.. </h1>
<% } else { %>
<h1><%= feed.get('title') %> has no new entries! </h1>
<% } %>