<% if(this.collection.length > 0){ %>
  <% this.collection.forEach(function(entry){ %>
    <div class="entry" id="<%= entry.escape("id") %>">
     <h3> <a href="<%= entry.escape('guid') %>"><%= entry.escape('title') %></a> </h3>
     <div class="content"><%= entry.get('content') %></div>
     <button class="feed-entry-read" id="<%= entry.escape("id") %>">Read? </button>
    </div>
  <% }) %>
<% } else { %>
  <h2> You Read It All! </h2>
<% } %>