<% if(this.collection.length > 0){ %>
  <% this.collection.forEach(function(entry){ %>
    <div class="entry" id="<%= entry.escape("id") %>">
     <h3> <a href="<%= entry.escape('link') %>"><%= entry.escape('title') %></a> </h3>
     Published On: <div class="publishedDate"><%= new Date(entry.escape('published_date')) %></div>
     <div class="content"><%= entry.get('content') %></div>
     <!-- <button class="feed-entry-read" data-entry-id="<%= entry.escape("id") %>">Keep Unread?</button> -->
    </div>
  <% }) %>
  <h2> and that's all the news.... </h2>
<% } else { %>
  <h2> You Read It All! </h2>
<% } %>