<h1 class="text-center"><a href="#/feeds"><center><img src="assets/reed.png"></center>
Reedly</a></h1>
  
<a class="btn" data-toggle="modal" data-target=".add-feed"><span class="glyphicon glyphicon-plus"></span> Add Feed </a>  
<a class="btn" data-toggle="modal" data-target=".add-category"><span class="glyphicon glyphicon-plus"></span> Add Category </a> 


<ul>
<% feedCategories.each(function(category){ %>
    <div class="feed-title"><h4><%= category.escape('title') %><h4></div>
    <ul>
    <% category.feeds().each(function(feed){ %>
      <li><div class="feed-title"><a class="feed" href="/#feeds/<%= feed.id %>"><%= feed.escape('title') %></a> -
      (<%= feed.entries().length %>) </li>
    <% }) %>
    </ul>
<% }) %>
</ul>
<div class="sidebar-footer">
<a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>
</div>


<div class="modal fade add-feed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Feed</h4>
      </div>
      <div class="modal-body">
        <form>
          <input class="form-control" type="text" name="feed[url]" placeholder="Enter Feed Url">
          <select>
            <% feedCategories.each(function(category){ %>
              <option id="<%= category.escape('title') %>_category" name="category" value="<%= category.escape("id") %>" >
                <%= category.escape('title') %>
              </option>
            <% }) %>
          </select>
        </form>
      


      </div>
      <a class="add-feed-button btn"><span class="glyphicon glyphicon-plus"></span> Add Feed </a>  
    </div>
  </div>
</div>

<div class="modal fade add-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Feed</h4>
      </div>
      <div class="modal-body">
        <form>
          <input class="form-control" type="text" name="category[title]" placeholder="Enter Category Name">
        </form>
      </div>
      <a class="add-category-button btn"><span class="glyphicon glyphicon-plus"></span> Add Feed </a>  
    </div>
  </div>
</div>
