<h1 class="text-center"><a href="#"><center><img src="assets/reed.png"></center>
Reedly</a></h1>
  
<a class="btn" data-toggle="modal" data-target=".add-feed"><span class="glyphicon glyphicon-plus"></span> Add Feed </a>   


<div class="sidebar-categories">
<ul>
<% feedCategories.each(function(category, index){ %>
    <div class="feed-title"><a class="expand-menu"><h4><span class="glyphicon glyphicon-chevron-right"></span> <%= category.escape('title') %></h4></div></a>
    <div class="category-feeds-menu hidden" data-id="<%= index %>">
      <ul>
      <% category.feeds().each(function(feed){ %>
        <li><div class="feed-title"><a class="feed" href="/#feeds/<%= feed.id %>"><%= feed.escape('title') %></a> -
        (<%= feed.entries().length %>) </li>
      <% }) %>
      </ul>
    </div>
<% }) %>
</ul>
<div class="sidebar-footer">
<a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a>
</div>


<div class="modal fade add-feed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Feed</h4>
      </div>
      <div class="modal-body">
        <form>
          <input class="form-control" type="text" name="feed[url]" placeholder="Enter Feed Url">
          <select>
            <% feedCategories.each(function(category){ %>
              <option id="<%= category.escape('title') %>_category" name="category" value="<%= category.escape("id") %>" >
                <%= category.escape('title') %>
              </option>
            <% }) %>
          </select>
        </form>
      


      </div>
      <a class="add-feed-button btn"><span class="glyphicon glyphicon-plus"></span> Add Feed </a>  
    </div>
  </div>
</div>


